<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="">
      <button type="submit" id="oke">test aja</button>
    </form>

    <script>
      const oke = document.getElementById("oke");
      oke.addEventListener("click", (e) => {
        e.preventDefault();
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/x-www-form-urlencoded");
        myHeaders.append(
          "Authorization",
          "Bearer 288fb3a37e93f0feda6e44c935b6431122811cda9175cdf52be9f320a7eaff4b2533824b6d91e4cc038699b286ae93bdf814c613dc34ccef0065e8a0274dc793"
        );

        var urlencoded = new URLSearchParams();
        urlencoded.append("username", "irsyad");
        urlencoded.append("password", "123");

        var requestOptions = {
          method: "POST",
          headers: myHeaders,
          body: urlencoded,
          redirect: "follow",
        };

        fetch("http://localhost:3000/auth/login", requestOptions)
          .then((response) => response.text())
          .then((result) => console.log(result))
          .catch((error) => console.log("error", error));
      });
    </script>

    <script>
      const logout = document.getElementById("logout");

      logout.addEventListener("click", (e) => {
        e.preventDefault();
        var myHeaders = new Headers();
        myHeaders.append(
          "Authorization",
          "Bearer 288fb3a37e93f0feda6e44c935b6431122811cda9175cdf52be9f320a7eaff4b2533824b6d91e4cc038699b286ae93bdf814c613dc34ccef0065e8a0274dc793"
        );

        var urlencoded = new URLSearchParams();

        var requestOptions = {
          method: "GET",
          headers: myHeaders,
          redirect: "follow",
        };

        fetch("http://localhost:3000/auth/logout", requestOptions)
          .then(function (res) {
            if (res.status === 200) {
              window.location.replace("login.html");
            }
            return res.json();
          })
          .then((result) => console.log(result))
          .catch((error) => console.log("error", error));
      });
    </script>
  </body>
</html>
