<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="">
      <button type="submit" id="oke">test aja</button>
    </form>

    <script>
      const oke = document.getElementById("oke");
      oke.onclick = function () {
        alert("Yok Bisa YOK");
      };
    </script>
  </body>
</html>
