<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div>
        <h2>Biodata Mahasiswa</h2>
        <p>Nama</p>
        <p>NIM</p>
        <p>Jurusan</p>
    </div>
    <div>
        <h2>Daftar Tugas</h2>
    </div>

    <div >
        <h2>Form Yang Udah Dibuat</h2>
        <table border ="1" cellpadding="10">
            <thead>
                <tr>
                    <td>A</td>
                    <td>B</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>