<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PWEB</title>
</head>
<body>
    <div>
        <h2>PWEB</h2>
    </div>

    <div>
    <h3> Form Assignment  <button>Add</button></h3>
   
    <table  border="1" cellpadding="10">
        <thead>
            <tr>
                <th>No</th>
                <th>Date</th>
                <th>Heading</th>
                <th>Deskripsi</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
        
            <tr>
                <td>1</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>
                    <button>detail</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>
                    <button>detail</button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>
                    <button>detail</button>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>xxx</td>
                <td>
                    <button>detail</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>