<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/uy.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/all.css">
    <title>PWEB</title>
</head>
<body>

    
    <nav class="navbar navbar-expand-lg bg-body-tertiary warnanav">
        <div class="container">
          <a class="navbar-brand ftheadnav" href="dash.html">Kumpulin</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-underline me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link ftnav" aria-current="page" href="dash.html">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active ftnav" aria-current="page" href="form_assign.html">Form Saya</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ftnav" aria-current="page" href="#">Isi form</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ftnav" aria-current="page" href="riwayat.html">Riwayat</a>
              </li>
            </ul>
            <a class="navbar-brand" href="#">
                <img src="img/profile.svg" width="32">
            </a>
          </div>
        </div>
      </nav>

      
    <div class="container ciek mt-5 mb-5 px-5 pt-3 pb-5 fonku">
      <div class="row">
        <div class="col-md-3">
         <h3> Form Assignment  </h3>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary me-md-2" data-bs-target="#add_form" data-bs-toggle="modal">Add</button>
        </div>
      </div>
      
    <table cellpadding="10" class="table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>Date</th>
                <th>Heading</th>
                <th>Deskripsi</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
        </tbody>
    </table>
</div>

<div class="modal fade" id="detail_form" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Form <span id="id_form"></span></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">ID Form</label>
                <h6 id="form_id"></h6>
              </div>
              <div class="mb-3"> 
                <label for="exampleInputPassword1" class="form-label">Description</label>
                <h6 id="description"></h6>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">File Instruction</label><br>
                <a href=""><button class="btn btn-success btn-sm">DOWNLOAD</button></a>
              </div>
              <div class="modal-footer">
                <button class="btn btn-warning" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Submission</button>
                <button class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="add_form" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Add New Form</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Header Form</label>
              <input type="text" placeholder="Form Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Description</label>
              <textarea class="form-control" placeholder="Description" name="desc" id="" cols="59" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Add File</label>
              <input type="file" class="form-control" id="exampleInputPassword1">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Add</button>
        </div>
      </div>
    </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>


    <script>
      const tbody = document.querySelector('tbody')
      let usersData = [];

      const loadData = async () => {
          try {
              var myHeaders = new Headers();
              myHeaders.append("Cookie", "connect.sid=s%3APAvproUVyR0hQpSbBh1pkpgNdvL_LP_A.gxYUHYGdMrjemoGqsqV4T%2BwoO73LWdtRU0NaDToIJys; jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE2ODY1ODM4MzMsImV4cCI6MTY4Njg0MzAzM30.D7zZ8rMrmwjAj4RDkdURs7m9pmv10FmLqHqPy3uV48w");

              var urlencoded = new URLSearchParams();

              var requestOptions = {
                method: 'GET',
                headers: myHeaders,
                body: urlencoded,
                redirect: 'follow'
              };

              const url = await fetch('http://localhost:3000/forms',requestOptions);
              usersData = await url.json();
              console.log(usersData)
              loadUserData(usersData);
          } catch (err) {
              console.log(err)
          }
      }
      
      const loadUserData = (data) => {
          let no = 1;
          const output = data.map((el) => {
            const formattedDate = new Date(el.updated_at).toLocaleDateString('id-ID', { day: '2-digit', month: '2-digit', year: 'numeric' });
              return `
              <tr>
                  <td>` + (no++) + `</td>
                  <td>${formattedDate}</td>
                  <td>${el.title}</td>
                  <td>${el.description}</td>
                  <td>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detail_form" onclick="showDetail('${el.form_id}')">Detail</button>
                    </td>
              </tr>
              `
          }).join('')
          tbody.innerHTML = output;
      }
      const showDetail = (id) => {
          const idForm = document.getElementById('form_id');
          const formDescription = document.getElementById('description');

          const form = usersData.find((el) => el.form_id === id);

          idForm.textContent = form.form_id;
          formDescription.textContent = form.description;
      }

      loadData()

    </script>

</body>
</html>