<html>
    <head>
        <title>sign up</title>
        <link rel="stylesheet" href="style.css"/>
    </head>
    <BODY>
        <!-- navbar -->
        <div class="container-navbar">
            <ul class="ul-navbar">
                <li class="li-navbar"></li>
            </ul>
        </div>
        <!-- navbar selesai -->

        <!-- content -->
        <div class="container-content">
            <img class="img-content" 
            
            <div class="container2-content">
                <h1 class="signin-content"> Sign Up</h1>
                <p > username</p>
                <input class="input-content" type="text" class="text-content">
                <br>
                <p > password</p>
                <input class="input-content" type="text" class="text-content">
                <br>
                <p > confirm password</p>
                <input class="input-content" type="text" class="text-content">
                <br>
            <a href="Register.html">
            </a>
            <button>Sign up</button>
            <a href="">
            </a>
            <p>Already have an account?</p>
            <a href="login.html">
            <p>Sign in</p>
            </a>
            </div>

        </a>

        </div>
        <!-- content end -->
    </BODY>
</html>