<div>
  <form id="addForm">
    <div>
      <label for="exampleInputEmail1" >User Id</label>
      <input type="text" placeholder="Form Name" id="user_id" aria-describedby="emailHelp">
    </div>
    <div>
      <label for="exampleInputEmail1" >Header Form</label>
      <input type="text" placeholder="Form Name" id="form_header" aria-describedby="emailHelp">
    </div>
    <div>
      <label for="exampleInputPassword1" >Description</label>
      <textarea placeholder="Description" name="desc" id="form_description" cols="50" rows="3"></textarea>
    </div>
    <!-- <div>
      <label for="exampleInputPassword1">Add File</label>
      <input type="file" id="exampleInputPassword1">
    </div> -->
    <button type="submit">Add</button>
  </form>
</div>

<script>
  const form = document.getElementById('addForm');
 
  form.addEventListener('submit', function (e) {
    e.preventDefault();
    const user_id = document.getElementById('user_id').value;
    const userHeader = document.getElementById('form_header').value;
    const userDescription = document.getElementById('form_description').value;


    var myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/x-www-form-urlencoded");

    var urlencoded = new URLSearchParams();
    urlencoded.append("description", userDescription);
    urlencoded.append("title", userHeader);
    urlencoded.append("user_id", user_id);

    var requestOptions = {
      method: 'POST',
      headers: myHeaders,
      body: urlencoded,
      redirect: 'follow'
    };

    fetch("http://localhost:3000/forms", requestOptions)
      .then(response => response.text())
      .then(result => console.log(result))
      .catch(error => console.log('error', error));


//     const formData = new FormData();
//     formData.append('user_id', 1);
//     formData.append('title', userHeader); // Menyimpan header sebagai title
//     formData.append('description', userDescription);

//     fetch('http://localhost:3000/forms', {
//       method: 'POST',
//       body: formData,
//     })
//       .then(res => res.json())
//       .then(data => console.log(data))
//       .catch(err => console.log(err));
  });
</script>
