body {
    background: rgb(255, 255, 255)
}

.ciek {
    background-color: bisque;
}

.duo {
    background-color: blue;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }